.logo{
  font-style: italic;
  font-weight: bold;
  background: #CF59B3;
  background: linear-gradient(to right, #CF59B3 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home{
  height:300px;
  width: auto;
 background: url("https://t3.ftcdn.net/jpg/04/45/16/96/360_F_445169635_V92LnhJXoMapMXuR4k9bVIu3lHZhDnWc.jpg");
}

.home h1{
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 8rem;
  color:chocolate;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.image{
  position: relative;
}

.top{
  position: absolute;
  top: 8px;
  right: 16px;
}

.footer{
  height: 150px;
}